<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.mapper.ModuleMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm.model.module.Module" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="icon" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="m_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tip" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, icon, title, url, m_type, tip
  </sql>

  <select id="initModule" resultType="com.zking.ssm.model.module.Module"
          parameterType="com.zking.ssm.model.module.Module">
    select <include refid="Base_Column_List"/> from
    module where pid=#{pid}
  </select>
  <select id="initModule2" resultType="com.zking.ssm.model.module.Module"
          parameterType="com.zking.ssm.model.module.Module"></select>


</mapper>